body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
/* ルートのフォントサイズを20pxにする */
html {
  font-size: 20px;
}
/* h1タグを2倍に */
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 4px gray;
  border-bottom: 3px solid rgb(115, 115, 114);
}
h2,p {
  font-size: 1rem;
}
.text-skyblue {
  color: skyblue;
}
.text-pink {
  color: rgb(255, 192, 203);
}
#basic p {
  font-weight: bold;
}